.App{
  background-color: black;
  color: white;
}
.App-header {
  /* min-height: 100vh; */
  /* display: flex; */
  /* flex-direction: column; */
  /* align-items: center; */
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #61dafb;
}
.nav-tabs {
  --bs-nav-tabs-border-width: none !important;
  --bs-nav-tabs-link-active-color: white !important;
  --bs-nav-tabs-link-active-bg: none !important;
  font-size: 14px;
}
.nav-link.active {
  border-bottom: 2px solid !important;
}
.nav-link {
  color: white !important;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
